@model estacionamento.Models.Ticket

@{
    ViewData["Title"] = "Editar Ticket";
}

<div class="text-center">
    <h1 class="display-4">Editar Ticket</h1>
</div>

<div class="container mt-4">
    <form asp-action="Alterar" method="post" asp-route-id="@Model.Id" class="needs-validation">
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="@Model.DataEntrada" class="control-label"></label>
                <input asp-for="@Model.DataEntrada" class="form-control" required/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="@Model.DataSaida" class="control-label"></label>
                <input asp-for="@Model.DataSaida" class="form-control"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="@Model.Valor" class="control-label"></label>
                <input asp-for="@Model.Valor" class="form-control" required/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="@Model.VeiculoId" class="control-label"></label>
                <input asp-for="@Model.VeiculoId" class="form-control" required/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="@Model.VagaId" class="control-label"></label>
                <input asp-for="@Model.VagaId" class="form-control" required/>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="form-group col-md-6 text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>
