@{
    ViewData["Title"] = "Vagas";
}

<div class="text-center">
    <h1 class="display-4">Vagas</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Vaga" asp-action="Novo">Nova Vaga</a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Código Localização</th>
                <th>Ocupada</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CodigoLocalizacao</td>
                    <td>@item.Ocupada</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" asp-controller="Vaga" class="btn btn-warning">Editar</a>
                    </td>
                    <td>
                        <form onsubmit="return confirm('confirma a exclusão?')" asp-action="Apagar" asp-controller="Vaga" method="post">
                            <input type="hidden" name="id" value="@item.Id">
                            <button type="submit" class="btn btn-danger">excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
